.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: white;
  }

.navbar a {
  margin-top: 10px;
}

.logo-size {
  width: 200px;
}

.phone-size {
  width: 70px;
  margin-right: 10px;
}

#carouselTarget{
  margin-inline: 10vw;
  margin-top: 5vh;
}

.menu{
  background-color: #B30015;
  margin-top: 20vh;
  text-align: center;
}
.card-img-size{
  width: 200px;
  height: 200px;
}
.menu-text{
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media ( max-width :500px) {
  .logo-size {
    width: 150px;
    margin-left: 20px;
  }
  .phone-size {
    width: 55px;
  }
  .menu{
    margin-top: 10vh;
  }
}